

//
//  Secrets.xcconfig
//  Autograder
//
//  Created by Keane Haesle on 2/15/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CHAT_API_KEY=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
